@keyframes recordAnimation {
    0% {
        color: rgb(255, 104, 64);
    }
    50% {
        color: #f7f7f7;
    }
    100% {
        color: rgb(255, 104, 64);
    }
}

a:active,
a:hover {
    font-weight: unset !important;
}

#record-icon,
#spnCam {
    color: rgb(255, 104, 64);
    animation-name: recordAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 1.5em;
    margin-top: 5px;
    position: absolute;
    margin-right: 5px;
    float: right;
}

video {
    object-fit: fill;
    width: 100%;
}

.videoempty {
    background-image: url('/assets/images/video_user.png');
    background-color: gray !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    border: 2px solid gray;
    margin: 5px;
}

.spnMenu {
    background-color: #333 !important;
    color: white !important;
}

.list-group-item2 {
    background-color: #333 !important;
    color: white !important;
    padding: 10px 0px !important;
}

.list-group-item-border {
    border-bottom: 1px solid #f5f5f5;
}

.media {
    margin-left: 10px;
}

.side-bar.right-bar {
    z-index: 10000 !important;
}

body {
    font-family: "LatoWeb", "Arial", sans-serif;
}

.ui-widget {
    font-family: "LatoWeb", "Arial", sans-serif !important;
    font-size: 13px;
}

.navbar {
    min-height: 70px !important;
}

.logo {
    color: #333 !important;
    font-weight: 500 !important;
    line-height: 70px;
    margin-left: 10px;
    font-size: large;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: none;
    background-image: none;
    background-color: #ffffff;
    padding-right: 30px;
    text-shadow: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: none;
    padding-right: 30px !important;
}

.ui-dialog .ui-dialog-titlebar {
    font-size: 1.3em !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-color: #B040AF !important;
    border-top-width: 10px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-color: #B040AF !important;
    border-top-width: 10px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -khtml-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -khtml-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

[aria-describedby="tabcv"] {
    border-top-color: rgb(118, 203, 0) !important;
}

[aria-describedby="tabQual"] {
    border-top-color: rgb(242, 76, 47) !important;
}

[aria-describedby="conversationPublic"] {
    border-top-color: rgb(127, 102, 249) !important;
}

[aria-describedby="tabAdvert"] {
    border-top-color: rgb(236, 46, 152) !important;
}

[aria-describedby="tabNotes"] {
    border-top-color: rgb(255, 145, 0) !important;
}

.user-waiting {
    float: left;
    margin-right: 10px;
}

.user-photo-area {
    text-align: center;
    float: left;
}

span .panel-title {
    color: #3e4450 !important;
}

.panel-color .panel-title {
    margin-left: 10px !important;
}

.panel-title a {
    color: #3e4450 !important;
}

#tabQual .panel-title {
    display: inline-block;
    width: 100% !important;
    padding-right: 10px;
}

.accordion-qual {
    margin-left: -13px;
    margin-right: -13px;
}

.panel-primary>.panel-heading {
    background-color: #ffffff !important;
    margin-right: 10px !important;
}

.t-panel-none {
    background-color: #ffffff !important;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: -10px !important;
}

.panel .panel-body {
    padding: 10px 10px;
    padding-bottom: 20px;
}

.panel-body {
    margin-top: -10px;
    margin-left: -5px;
}

.panel .panel-body.todoapp {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.tabs-vertical>li.active>a,
.tabs-vertical>li.active>a:focus,
.tabs-vertical>li.active>a:hover {
    color: #3e4450 !important;
}

.nav.nav-tabs>li>a:hover,
.nav.tabs-vertical>li>a:hover {
    color: #3e4450 !important;
}

.chat-input {
    background-color: #f5f5f5;
    padding-left: 15px;
}

.chat-send {
    display: none;
}

.interview-join-btn {
    text-align: left;
    height: 60px;
    font-size: 1.1em;
    line-height: 2em;
    width: 100%;
    min-width: 230px;
    background-color: #4a5267;
    border-radius: 8px;
}

.interview-join-btn div {
    width: 90%;
    float: left;
    margin-left: 15px;
    font-size: 1.3em;
}

.end-interview-result {
    -moz-border-radius: 8px !important;
    -khtml-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    width: 50%;
    background: #ffffff;
    min-height: 260px;
    margin: 0 auto;
    top: 25%;
    position: absolute;
    left: 25%;
    -webkit-box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.4);
}

.end-interview-result .left {
    width: 30%;
    height: 90%;
    float: left;
    position: absolute;
    left: 5%;
    top: 10%;
}

.end-interview-result .left img {
    width: 280px;
}

.end-interview-result .right {
    width: 60%;
    height: 90%;
    float: right;
    top: 28%;
    position: absolute;
    left: 44%;
}

.send-message {
    width: 80px;
    margin-top: 10px;
}

.record-area {
    width: 30%;
    margin-left: -10px;
}

.chat-area {
    position: sticky;
    clear:both;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: white;
}

.tab-badge {
    color: white !important;
    border-radius: 100%;
    font-weight: 700;
    line-height: 20px;
    min-width: 20px;
    top: -10px;
    background: #74cd41;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
    text-indent: 0;
    font-size: 10px;
    position: relative;
    right: 5px;
}

.nav.nav-tabs>li.active>a {
    background-color: #00adef !important;
    color: #fff !important;
}

.nav.nav-tabs>li>a,
.nav.tabs-vertical>li>a {
    border: 1px solid #e5e5e5;
    border-radius: -5px;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav.nav-tabs>li>a {
    background-color: #ffffff;
    border: 1px solid #e5e5e5 !important;
    margin-bottom: -1px;
}

.note-update {
    cursor: pointer;
    width: 82%;
}

.img-notes-profile {
    background-color: #e5e5e5;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1111111111;
    background: #fff;
}

.pre-con div {
    position: relative;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.pre-completed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 130;
    background-size: cover;
    display: block;
    filter: blur(174px);
    -webkit-filter: blur(174px);
    background-color: #211f1f7a;
}

.pre-completed-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 131;
    display: block;
}

.pre-completed-container .container {
    margin-top: 90px;
}

.end-interview-result h3 {
    text-align: center;
    font-weight: bold;
}

.end-interview-result td {
    padding-left: 15px !important;
}

.end-interview-result th {
    padding: 15px !important;
}

.tm-tag {
    margin-right: 8px;
    padding: 4px 8px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 1px;
    box-shadow: none;
    background: #AAA;
}

.tag-nocolor {
    background-color: transparent !important;
    color: #797979 !important;
    display: inline-block;
    margin-top: 3px;
    font-weight: 500;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.end-interview-result .bottom .pull-right {
    padding: 15px;
}

.end-interview-result th.col-1 {
    width: 30%;
}

.end-interview-result th.col-2 {
    width: 50%;
}

.end-interview-result th.col-3 {
    width: 20%;
}

.end-interview-result td input {
    width: 50px;
    text-align: center;
}

.end-interview-result .custom-error {
    background-color: #F6EBF9 !important;
    border-radius: 4px;
}

@keyframes recordAnimation {
    0% {
        color: rgb(255, 104, 64);
    }
    50% {
        color: #f7f7f7;
    }
    100% {
        color: rgb(255, 104, 64);
    }
}

a:active,
a:hover {
    font-weight: unset !important;
}

#record-icon,
#spnCam {
    color: rgb(255, 104, 64);
    animation-name: recordAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 1.5em;
    margin-top: 5px;
    position: absolute;
    margin-right: 5px;
    float: right;
}

video {
    object-fit: fill;
    width: 100%;
}

.videoempty {
    background-image: url('/assets/images/video_user.png');
    background-color: gray !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    border: 2px solid gray;
    margin: 5px;
}

.spnMenu {
    background-color: #333 !important;
    color: white !important;
}

.list-group-item2 {
    background-color: #333 !important;
    color: white !important;
    padding: 10px 0px !important;
}

.list-group-item-border {
    border-bottom: 1px solid #f5f5f5;
}

.media {
    margin-left: 10px;
}

.side-bar.right-bar {
    z-index: 10000 !important;
}

body {
    font-family: "LatoWeb", "Arial", sans-serif;
}

.ui-widget {
    font-family: "LatoWeb", "Arial", sans-serif !important;
    font-size: 13px;
}

.navbar {
    min-height: 70px !important;
}

.logo {
    color: #333 !important;
    font-weight: 500 !important;
    line-height: 70px;
    margin-left: 10px;
    font-size: large;
}

.ui-state-default.video-resize.location {
    padding: 0;
    position: absolute;
    right: 75px;
    background-image: url('../../../video/assets/images/full-screen.png') !important;
    background-size: contain !important;
    width: 11px;
}

.ui-state-default.video-resize.location.opened {
    background-image: url('../../../video/assets/images/full-screen-exit.png') !important;
}

.location-resize-image {
    background-image: url('../../../video/assets/images/resize-icon.png') !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: none;
    background-image: none;
    background-color: #ffffff;
    padding-right: 30px;
    text-shadow: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: none;
    padding-right: 30px !important;
}

.ui-dialog .ui-dialog-titlebar {
    font-size: 1.3em !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-color: #B040AF !important;
    border-top-width: 10px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-color: #B040AF !important;
    border-top-width: 10px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -khtml-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -khtml-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

[aria-describedby="tabcv"] {
    border-top-color: rgb(118, 203, 0) !important;
}

[aria-describedby="tabQual"] {
    border-top-color: rgb(242, 76, 47) !important;
}

[aria-describedby="conversationPublic"] {
    border-top-color: rgb(127, 102, 249) !important;
}

[aria-describedby="tabAdvert"] {
    border-top-color: rgb(236, 46, 152) !important;
}

[aria-describedby="tabNotes"] {
    border-top-color: rgb(255, 145, 0) !important;
}

.user-line {
    width: 100%;
    display: block;
    position: relative;
    font-weight: bold;
    text-transform: capitalize;
}

.user-type-line {
    width: 100%;
    display: block;
    position: relative;
}

.user-status-line {
    width: 100%;
    display: block;
    position: relative;
}

.user-row-line {
    min-height: 70px;
    color: #3e4450;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.user-waiting {
    float: left;
    margin-right: 5px;
}

.status-badge {
    border-radius: 100%;
    color: white;
    width: 19px;
    height: 19px;
    display: block;
    text-align: center;
    float: left;
    margin-top: -2px;
}

.badge-red {
    background-color: rgb(255, 104, 64);
}

.badge-green {
    background-color: rgb(45, 178, 0);
}

.user-line-area {
    padding-top: 8.5px;
    padding-left: 15px;
    float: left;
    max-width: 150px;
}

.user-photo-area {
    text-align: center;
    float: left;
}

.user-photo {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

span .panel-title {
    color: #3e4450 !important;
}

.panel-color .panel-title {
    margin-left: 10px !important;
}

.panel-title a {
    color: #3e4450 !important;
}

#tabQual .panel-title {
    display: inline-block;
    width: 100% !important;
    padding-right: 10px;
}

.accordion-qual {
    margin-left: -13px;
    margin-right: -13px;
}

.panel.panel-primary.panel-color {
    margin-bottom: -9px !important;
    border-radius: unset;
}

.t-panel-none {
    background-color: #ffffff !important;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: -10px !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.tabs-vertical>li.active>a,
.tabs-vertical>li.active>a:focus,
.tabs-vertical>li.active>a:hover {
    color: #3e4450 !important;
}

.nav.nav-tabs>li>a:hover,
.nav.tabs-vertical>li>a:hover {
    color: #3e4450 !important;
}

.chat-input {
    background-color: #f5f5f5;
    padding-left: 15px;
}

.chat-send {
    display: none;
}

.interview-join-btn {
    text-align: left;
    height: 60px;
    font-size: 1.1em;
    line-height: 2em;
    width: 100%;
    min-width: 230px;
    background-color: #4a5267;
    border-radius: 8px;
}

.interview-join-btn div {
    width: 90%;
    float: left;
    margin-left: 15px;
    font-size: 1.3em;
}

.end-interview-result {
    padding: 15px;
    -moz-border-radius: 8px !important;
    -khtml-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    width: 50%;
    background: #ffffff;
    min-height: 260px;
    margin: 0 auto;
    top: 25%;
    position: absolute;
    left: 25%;
    -webkit-box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.4);
}

.end-interview-result img.img-responsive {
    padding: 34px 10px;
}

.end-interview-result div:nth-child(2) {
    margin-top: 10%;
}

.send-message {
    width: 80px;
    margin-top: 10px;
}

.record-area {
    width: 30%;
    margin-left: -10px;
}

.inbox-widget .inbox-item {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 13px 0 !important;
    position: relative;
}

.chat-area {
    position: sticky;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: white;
}

.tab-badge {
    color: white !important;
    border-radius: 100%;
    font-weight: 700;
    line-height: 20px;
    min-width: 20px;
    top: -10px;
    background: #74cd41;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
    text-indent: 0;
    font-size: 10px;
    position: relative;
    right: 5px;
}

.nav.nav-tabs>li.active>a {
    background-color: #00adef !important;
    color: #fff !important;
}

.nav.nav-tabs>li>a,
.nav.tabs-vertical>li>a {
    border: 1px solid #e5e5e5;
    border-radius: -5px;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav.nav-tabs>li>a {
    background-color: #ffffff;
    border: 1px solid #e5e5e5 !important;
    margin-bottom: -1px;
}

div.panel-heading span {
    margin-top: -19px;
}

.note-update {
    cursor: pointer;
    width: 82%;
}

.img-notes-profile {
    background-color: #e5e5e5;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1111111111;
    background: #fff;
}

.pre-con div {
    position: relative;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

.pre-completed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 130;
    background-size: cover;
    display: block;
    filter: blur(174px);
    -webkit-filter: blur(174px);
    background-color: #211f1f7a;
}

.pre-completed-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 131;
    display: block;
}

.pre-completed-container .container {
    margin-top: 90px;
}

.end-interview-result h3 {
    text-align: center;
    font-weight: bold;
}

.end-interview-result td {
    padding-left: 15px !important;
}

.end-interview-result th {
    padding: 15px !important;
}

.tm-tag {
    margin-right: 8px;
    padding: 4px 8px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 1px;
    box-shadow: none;
    background: #AAA;
}

.tag-nocolor {
    background-color: transparent !important;
    color: #797979 !important;
    display: inline-block;
    margin-top: 3px;
    font-weight: 500;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.end-interview-result .bottom .pull-right {
    padding: 15px;
}

.end-interview-result th.col-1 {
    width: 30%;
}

.end-interview-result th.col-2 {
    width: 50%;
}

.end-interview-result th.col-3 {
    width: 20%;
}

.end-interview-result td input {
    width: 50px;
    text-align: center;
}

.end-interview-result .custom-error {
    background-color: #F6EBF9 !important;
    border-radius: 4px;
}

.box {
    padding-left: 20%;
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0;
}

.box ul:last-of-type {
    top: 50px;
}

.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #010101;
    position: absolute;
    top: 0;
    left: 30px;
}

.box ul li {
    margin: 0px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background: rgba(200, 200, 200, 0.3);
    color: #010101;
    border-radius: 10px;
    line-height: 20px;
    width: 70%;
}

.box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #010101;
    position: absolute;
    top: 0;
    left: -30px;
}

.box ul li>span:before,
.box ul li>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #000;
    position: absolute;
    left: -5.5px;
}

.box ul li>span:before {
    top: -10px;
}

.box ul li>span:after {
    top: 95%;
}

.box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.box .info:first-letter {
    text-transform: capitalize;
    line-height: 1.7;
}

.box .name {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

.box .time span {
    position: absolute;
    left: -100px;
    color: #010101;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
}

.box .time span:first-child {
    top: -16px;
}

.box .time span:last-child {
    top: 94%;
}

.arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.arrow:hover {
    -webkit-animation: arrow 1s linear infinite;
    -moz-animation: arrow 1s linear infinite;
    -o-animation: arrow 1s linear infinite;
    animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

.tab-content {
    box-shadow: none;
    border: none;
}

.box-purple>span {
    border: 1px solid #BB54D3 !important;
}

.box ul li>span.box-purple:before,
.box ul li>span.box-purple:after {
    border: 2px solid #BB54D3 !important;
}

.box ul li.box-purple>span:before,
.box ul li.box-purple>span:after {
    border: 2px solid #BB54D3 !important;
}

li.box-purple .time span {
    color: #BB54D3;
}

li.box-purple .title {
    color: #f7f7f7 !important;
}

li.box-purple {
    background: #BB54D3 !important;
    color: #f7f7f7 !important;
}

.box-orange>span {
    border: 1px solid rgb(255, 149, 0) !important;
}

.box ul li>span.box-orange:before,
.box ul li>span.box-orange:after {
    border: 2px solid rgb(255, 149, 0) !important;
}

.box ul li.box-orange>span:before,
.box ul li.box-orange>span:after {
    border: 2px solid rgb(255, 149, 0) !important;
}

li.box-orange .time span {
    color: rgb(255, 149, 0);
}

li.box-orange .title {
    color: #f7f7f7 !important;
}

li.box-orange {
    background: rgb(255, 149, 0) !important;
    color: #f7f7f7 !important;
}

.box-red>span {
    border: 1px solid rgb(242, 76, 47) !important;
}

.box ul li>span.box-red:before,
.box ul li>span.box-red:after {
    border: 2px solid rgb(242, 76, 47) !important;
}

.box ul li.box-red>span:before,
.box ul li.box-red>span:after {
    border: 2px solid rgb(242, 76, 47) !important;
}

li.box-red .time span {
    color: rgb(242, 76, 47);
}

li.box-red .title {
    color: #f7f7f7 !important;
}

li.box-red {
    background: rgb(242, 76, 47) !important;
    color: #f7f7f7 !important;
}

.note-search-input {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 100%;
    background-color: #f5f5f5;
    padding-left: 15px;
}

.note-search-container {
    height: 2px;
}

.inbox-item-search {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 16px 0 !important;
    position: relative;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    min-height: 25px !important;
    text-align: center !important;
    min-width: 25px !important;
    padding-top: 3px !important;
}

.w-100 {
    width: 100%;
}

.content-page {
    margin-left: 0px;
}

#player {
    width: 100%;
    height: 95%;
    margin-bottom: -6px;
    border: none;
}

.note-area {
    height: 0%;
    margin-top: -2px;
    margin-left: -2px;
}

.note-head-area {
    position: relative;
    width: 346px;
    height: 30px;
    background: transparent;
    margin: 0 auto;
    margin-top: 0;
    transition: 0.4s ease;
}

#ui-id-1 {
    text-transform: uppercase;
}

.control-area {
    position: relative;
    width: 100%;
    height: 54px;
    margin-top: -54px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    animation-name: fadeFromtop;
    -webkit-animation-name: fadeFromtop;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.ca-border {
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    background-color: rgba(176, 64, 175, .6);
}

.ca-progress {
    width: 346px !important;
    height: 5px !important;
    background: #848484 !important;
    margin: 0 auto !important;
    margin-top: 5px !important;
    position: relative !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.ca-progress .ca-meter {
    background: #f2f2f2 !important;
    border-radius: 0 !important;
}

.video-content:hover .ca-progress {
    opacity: 1 !important;
    animation-fill-mode: backwards !important;
    -webkit-animation-fill-mode: backwards !important;
    animation-name: inherit !important;
    -webkit-animation-name: inherit !important;
    animation-duration: inherit !important;
    -webkit-animation-duration: inherit !important;
}

.video-content {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 2px;
}

.video-content:hover .control-area {
    animation-name: fadeFromBottom;
    -webkit-animation-name: fadeFromBottom;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.video-content:hover .progress {
    opacity: 0;
    animation-name: fadeFromtop;
    -webkit-animation-name: fadeFromtop;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        display: block;
    }
}

@keyframes fadeFromtop {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.ca-control-buttons {
    position: relative;
    width: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2px;
}

.ca-control-buttons i {
    font-size: 10px;
    color: #4b4b4b;
    position: relative;
    cursor: pointer;
}

.ca-control-buttons .play-pause {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #4b4b4b;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 32px;
    color: #4b4b4b;
    text-align: center;
    vertical-align: middle;
    padding-left: 1px;
    padding-top: 2px;
    cursor: pointer;
}

.ca-control-buttons .play-pause i {
    font-size: 17px;
}

.ca-control-buttons .play-pause i.play {
    margin-left: 2px;
}

.progress {
    background-color: transparent;
    height: 2px;
    margin: 0;
    margin-top: -2px;
    position: relative;
    opacity: 1;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}

.progress .meter {
    width: 0;
    height: 100%;
    text-align: right;
    z-index: 1;
    display: block;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(176, 64, 175, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(176, 64, 175, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(176, 64, 175, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b040af', GradientType=1);
}

.progress .play {
    /*background-color: rgb(118, 203, 0);
            -webkit-transition: background-color 1000ms linear;
            -moz-transition: background-color 1000ms linear;
            -o-transition: background-color 1000ms linear;
            -ms-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;*/
}

.progress .pause {
    /*background-color: rgb(242, 76, 47);
            -webkit-transition: background-color 1000ms linear;
            -moz-transition: background-color 1000ms linear;
            -o-transition: background-color 1000ms linear;
            -ms-transition: background-color 1000ms linear;
            transition: background-color 1000ms linear;*/
}

.duration,
.current-time {
    display: none;
}

.ca-duration {
    display: block !important;
    position: absolute;
    right: -19px;
    top: -5px;
    font-size: 9px;
    color: #4b4b4b;
}

.ca-current-time {
    display: block !important;
    position: absolute;
    top: -5px;
    left: -14px;
    font-size: 9px;
    color: #4b4b4b;
}

.pin-line {
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    margin-top: 0;
    z-index: 50000;
    margin-top: 9px;
    cursor: pointer;
}

.pin-line img {
    position: relative;
    margin-top: 1px;
}

.pin-line .image-background {
    position: absolute;
    top: -1px;
    height: 23px;
    left: -2px;
    width: 23px;
    background-color: rgb(51, 184, 108);
}

.pin-line:before {
    content: '';
    width: 9px;
    height: 8px;
    position: absolute;
    top: -9px;
    display: block;
    left: 5px;
    border-bottom: solid 7px rgb(51, 184, 108);
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
}

.pin-circle {
    width: 13px;
    height: 13px;
    position: absolute;
    margin-left: -6px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -12px;
}

.line-circle {
    width: 13px;
    height: 13px;
    position: absolute;
    margin-left: -3px;
    border-radius: 50%;
    margin-top: 1px;
}

.line-area {}

.line-user {
    position: relative;
    margin-top: 7px;
    display: block;
    line-height: 13px;
}

.caption-title {
    position: relative;
    display: block;
    width: calc(100% + 20px);
    margin-left: -10px;
    border-radius: 7px 0px 0px 0;
    height: 10px;
    background: rgba(255, 255, 255, 0.5) !important;
}

#video {
    background-color: #fff;
}

.pin-area {
    position: relative;
    height: 100%;
}

.bg-success {
    background-color: rgba(51, 184, 108, 0.7) !important;
}

.caption {
    display: inline;
    position: absolute;
    right: 13px;
    top: 14px;
    width: 204px;
    padding: 0px 10px;
    border-radius: 7px 0px 0px 7px;
    min-height: 54px;
    color: white;
    font-size: 12px;
    z-index: 9;
}

.caption:hover {
    opacity: 1;
}

.player-button-area {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: rgba(239, 239, 239, 0.38);
    border-radius: 100%;
}

.video-resize {
    float: left;
    background: none;
    margin: 0 auto;
    margin-top: 4px;
    max-width: 5%;
}

.video-title {
    display: none;
}

.video-title-current {
    display: none;
}

.video-title-max {
    display: none;
}

.status-badge i.fa {
    vertical-align: middle;
}

.qualification-container {
    padding-bottom: 10px;
}

.qualification-row {
    border-bottom: 1px solid #efefef;
    margin-right: 5px;
    padding: 10px 0;
}

.qualification-row .btn-xs {
    margin-bottom: 6px;
    margin-right: 2px;
    float: right;
}

.qualification-row label {
    display: unset;
}

.qualification-new-input {
    top: 0;
    width: 95%;
    background-color: #f5f5f5;
    padding-left: 15px;
}

.qualification-body {
    display: unset;
}

.qualification-new-input {
    float: right;
    width: 100%
}

.qualification-save-button {
    margin-top: 10px;
    float: right;
    width: 50px;
}

:root.bg-small {
    background-color: #4527A0;
}

.card {
    will-change: transform;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fdfdfd;
    height: 35%;
    width: 100%;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-image {
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-image:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    bottom: 0;
}

.card-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    color: #FFF;
    line-height: inherit;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 16px;
    padding-top: 5px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-subtitle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    left: 88px;
    right: 0;
    top: 29px;
    position: absolute;
    padding: 0 16px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    top: 100px;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: absolute;
    color: #000;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: delay 0.1s;
    transition: delay 0.1s;
}

.card-action-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 17px;
    padding: 0;
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    height: 27px;
    line-height: 27px;
    -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-action-bar p {
    margin: 0;
    color: #ffb400;
    font-size: 10px;
}

.card-action-bar p i {
    font-size: 14px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.card-small {
    height: 76px;
    max-height: 76px;
}

.card-small .card-image {
    border-radius: 1px 0 0 1px;
    left: 0;
    top: 0;
    width: 80px;
    opacity: 1;
    max-height: 76px;
    background-size: cover;
}

.card-small .card-image:after {
    opacity: 0;
}

.card-small .card-title {
    color: #000;
    left: 73px;
    top: 0;
}

.card-small .card-subtitle {
    opacity: 1;
    left: 73px;
}

.card-small .card-text {
    top: 30px;
    opacity: 0;
}

.card-small .card-action-bar {
    left: 88px;
}

.card-usercolor {
    position: absolute;
    height: 100%;
    right: 0;
    width: 8px;
}

.pin-comment-data span {
    margin-left: -45px;
}

.accordion-advert-qual {
    margin-left: -24px;
    margin-right: -30px;
    margin-bottom: unset;
}

.accordion-advert-qual .panel-title {
    padding-left: 15px;
}

.accordion-qual .panel-heading {
    margin-bottom: 0px;
}

a[data-toggle="collapse"] {
    margin-right: 140px;
    margin-top: 15px;
}

a[data-toggle="collapse"] .plus-icon {
    float: right;
    width: 15px;
    height: 15px;
    right: 10px;
    margin-right: -140px;
}

a[data-toggle="collapse"] .plus-icon::before {
    content: '\f068';
    display: block;
    float: right;
    font-family: 'FontAwesome';
    font-size: 14px;
    text-align: right;
}

a.collapsed[data-toggle="collapse"] .plus-icon::before {
    content: '\f067';
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
    content: none !important;
}

.stars {
    margin-right: 20px;
}

a.star {
    margin-left: 0;
}

.evaluation-radio {
    width: 125px;
    float: right;
    margin-right: 120px;
    margin-top: -26px;
}

.evaluation-radio .radio {
    padding-left: unset;
    padding-right: unset;
    width: 32px;
}

.controls {
    margin-top: 30px;
}

.recruitment-icon {
    font-size: 27px;
    margin-left: -8px;
    margin-right: -6px;
    line-height: 30px;
    vertical-align: sub;
}

.radio label::before {
    margin-top: 8px;
}

.radio label::after {
    margin-top: 8px;
}

.recruitment-icon.icon-color-blue {
    color: rgb(127, 102, 249);
}

.recruitment-icon.icon-color-red {
    color: rgb(242, 76, 47);
}

.recruitment-icon.icon-color-black {
    color: rgb(20, 20, 20);
}

.recruitment-icon.icon-color-orange {
    color: #f09006;
}