@charset "UTF-8";

@font-face {
  font-family: "tas-icons";
  src:url("fonts/tas-icons.eot");
  src:url("fonts/tas-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/tas-icons.woff") format("woff"),
    url("fonts/tas-icons.ttf") format("truetype"),
    url("fonts/tas-icons.svg#tas-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tas-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tas-"]:before,
[class*=" tas-"]:before {
  font-family: "tas-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tas-arrow-left-big:before {
  content: "\61";
}
.tas-arrow-right-big:before {
  content: "\62";
}
.tas-bag-check:before {
  content: "\63";
}
.tas-bell3:before {
  content: "\64";
}
.tas-braces:before {
  content: "\65";
}
.tas-calculator2:before {
  content: "\66";
}
.tas-calendar2:before {
  content: "\67";
}
.tas-comment-question:before {
  content: "\68";
}
.tas-comment-user:before {
  content: "\69";
}
.tas-cpu:before {
  content: "\6a";
}
.tas-exchange:before {
  content: "\6b";
}
.tas-experiment:before {
  content: "\6c";
}
.tas-factory:before {
  content: "\6d";
}
.tas-fancy-man:before {
  content: "\6e";
}
.tas-headphone:before {
  content: "\6f";
}
.tas-image:before {
  content: "\70";
}
.tas-like:before {
  content: "\71";
}
.tas-mountain:before {
  content: "\72";
}
.tas-movie:before {
  content: "\73";
}
.tas-movie-play2:before {
  content: "\74";
}
.tas-network:before {
  content: "\75";
}
.tas-pen:before {
  content: "\76";
}
.tas-screwdriver:before {
  content: "\77";
}
.tas-search3:before {
  content: "\78";
}
.tas-search-user:before {
  content: "\79";
}
.tas-search-user2:before {
  content: "\7a";
}
.tas-server:before {
  content: "\41";
}
.tas-shopping:before {
  content: "\43";
}
.tas-star4:before {
  content: "\44";
}
.tas-action:before {
  content: "\45";
}
.tas-add-page:before {
  content: "\46";
}
.tas-announcement:before {
  content: "\47";
}
.tas-arrow-down:before {
  content: "\48";
}
.tas-arrow-left:before {
  content: "\49";
}
.tas-arrow-right:before {
  content: "\4a";
}
.tas-arrow-up:before {
  content: "\4b";
}
.tas-attach:before {
  content: "\4c";
}
.tas-back:before {
  content: "\4d";
}
.tas-bag:before {
  content: "\4e";
}
.tas-bell:before {
  content: "\4f";
}
.tas-bell2:before {
  content: "\50";
}
.tas-bookmark:before {
  content: "\51";
}
.tas-calculator:before {
  content: "\52";
}
.tas-calendar:before {
  content: "\53";
}
.tas-camera:before {
  content: "\54";
}
.tas-chart-bar:before {
  content: "\55";
}
.tas-chart-bar2:before {
  content: "\56";
}
.tas-chart-pie:before {
  content: "\57";
}
.tas-check:before {
  content: "\58";
}
.tas-check2:before {
  content: "\59";
}
.tas-check3:before {
  content: "\5a";
}
.tas-check-pin:before {
  content: "\30";
}
.tas-circle-next:before {
  content: "\31";
}
.tas-circle-play:before {
  content: "\32";
}
.tas-clock:before {
  content: "\33";
}
.tas-cloud:before {
  content: "\34";
}
.tas-cloud2:before {
  content: "\35";
}
.tas-comment:before {
  content: "\36";
}
.tas-comment2:before {
  content: "\37";
}
.tas-comment-plus:before {
  content: "\38";
}
.tas-comment-smile:before {
  content: "\39";
}
.tas-download:before {
  content: "\21";
}
.tas-equalizer:before {
  content: "\22";
}
.tas-eye:before {
  content: "\23";
}
.tas-filter:before {
  content: "\24";
}
.tas-flag:before {
  content: "\25";
}
.tas-folder:before {
  content: "\26";
}
.tas-hamburger:before {
  content: "\27";
}
.tas-hamburger2:before {
  content: "\28";
}
.tas-home:before {
  content: "\29";
}
.tas-lamp:before {
  content: "\2a";
}
.tas-letter:before {
  content: "\2b";
}
.tas-lock:before {
  content: "\2c";
}
.tas-lock2:before {
  content: "\2d";
}
.tas-lock-success:before {
  content: "\2e";
}
.tas-movie-play:before {
  content: "\2f";
}
.tas-negative:before {
  content: "\3a";
}
.tas-next:before {
  content: "\3b";
}
.tas-no-entry:before {
  content: "\3c";
}
.tas-pencil:before {
  content: "\3d";
}
.tas-phone:before {
  content: "\3e";
}
.tas-pin:before {
  content: "\3f";
}
.tas-pin2:before {
  content: "\40";
}
.tas-play:before {
  content: "\5b";
}
.tas-plus:before {
  content: "\5d";
}
.tas-plus2:before {
  content: "\5e";
}
.tas-question:before {
  content: "\5f";
}
.tas-refresh:before {
  content: "\60";
}
.tas-refresh2:before {
  content: "\7b";
}
.tas-remove:before {
  content: "\7c";
}
.tas-remove2:before {
  content: "\7d";
}
.tas-remove3:before {
  content: "\7e";
}
.tas-search:before {
  content: "\5c";
}
.tas-search2:before {
  content: "\e000";
}
.tas-settings:before {
  content: "\e001";
}
.tas-star:before {
  content: "\e002";
}
.tas-star2:before {
  content: "\e003";
}
.tas-star3:before {
  content: "\e004";
}
.tas-status-blue:before {
  content: "\e005";
}
.tas-status-green:before {
  content: "\e006";
}
.tas-status-red:before {
  content: "\e007";
}
.tas-status-white:before {
  content: "\e008";
}
.tas-task:before {
  content: "\e009";
}
.tas-task2:before {
  content: "\e00a";
}
.tas-time:before {
  content: "\e00b";
}
.tas-trash:before {
  content: "\e00c";
}
.tas-umbrella:before {
  content: "\e00d";
}
.tas-user:before {
  content: "\e00e";
}
.tas-user2:before {
  content: "\e00f";
}
.tas-user3:before {
  content: "\e010";
}
.tas-users:before {
  content: "\e011";
}
.tas-warning:before {
  content: "\e012";
}
.tas-workplace:before {
  content: "\e013";
}
.tas-xarrow:before {
  content: "\e014";
}
.tas-task3:before {
  content: "\e015";
}
.tas-tie:before {
  content: "\e016";
}
.tas-time2:before {
  content: "\e017";
}
.tas-unlike:before {
  content: "\e018";
}
.tas-user4:before {
  content: "\e019";
}
.tas-user-star:before {
  content: "\e01a";
}
.tas-truefalse:before {
  content: "\42";
}
.tas-truefalse-circle:before {
  content: "\e01b";
}
.tas-word-bank:before {
  content: "\e01c";
}
.tas-pairing:before {
  content: "\e01d";
}
.tas-multipleselect-radio:before {
  content: "\e01e";
}
.tas-multipleselect-check:before {
  content: "\e01f";
}
.tas-grouping:before {
  content: "\e020";
}
.tas-gap-filling:before {
  content: "\e021";
}
.tas-ranking:before {
  content: "\e022";
}
